<div class="login-container mat-app-background">
    <mat-card class="login-card">
      <mat-card-header class="login-header">
        <mat-card-title>Redefinir Senha</mat-card-title>
        <mat-card-subtitle>Insira seu token e a nova senha</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Token de Recuperação</mat-label>
            <input matInput type="text" [value]="token || ''" readonly>
            <mat-hint>Este token foi enviado para o seu e-mail.</mat-hint>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nova Senha</mat-label>
            <input matInput type="password" formControlName="newPassword" placeholder="********" required>
            <mat-error [appControlErrorDisplay]="resetPasswordForm.get('newPassword')!"></mat-error>
          </mat-form-field>
          <div class="password-strength-indicator">
            <mat-progress-bar mode="determinate" [value]="passwordStrength" [color]="passwordStrengthColor"></mat-progress-bar>
            <span [ngClass]="'strength-text-' + passwordStrengthColor">{{ passwordStrengthText }}</span>
          </div>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmar Nova Senha</mat-label>
            <input matInput type="password" formControlName="confirmPassword" placeholder="********" required>
            <mat-error [appControlErrorDisplay]="resetPasswordForm.get('confirmPassword')!"></mat-error>
          </mat-form-field>
  
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
  
          <button mat-raised-button color="primary" type="submit" class="full-width login-button" [disabled]="resetPasswordForm.invalid || isLoading">
            <mat-icon>lock_reset</mat-icon> Redefinir Senha
          </button>
        </form>
      </mat-card-content>
  
      <mat-card-actions class="login-actions">
        <button mat-button color="accent" (click)="onBackToLogin()">Voltar ao Login</button>
      </mat-card-actions>
    </mat-card>
  </div>