
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #426B97;
  }
  
  .login-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
    mat-card-title {
      font-size: 1.8em;
      font-weight: 600;
    }
    mat-card-subtitle {
      color: #666;
    }
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .full-width {
    width: 100%;
  }
  
  .login-button {
    margin-top: 20px;
    height: 48px;
    font-size: 1.1em;
    background-color: #426B97; 
  }
  
  .login-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .password-strength-indicator {
    margin-bottom: 15px;
    width: 100%;
    text-align: right; /* Alinha o texto à direita */
  
    mat-progress-bar {
      height: 6px; /* Altura da barra */
      border-radius: 3px;
    }
  
    // Estilos para o texto da força (cores da paleta PetConnect)
    span.strength-text-warn {
      color: #ff0000; /* Vermelho para "Fraca" */
      font-weight: bold;
      font-size: 0.8em;
    }
    span.strength-text-accent {
      color: #ff9900; /* Laranja para "Média" */
      font-weight: bold;
      font-size: 0.8em;
    }
    span.strength-text-primary {
      color: #008000; /* Verde para "Boa" / "Excelente" */
      font-weight: bold;
      font-size: 0.8em;
    }
  }
  
  @media (max-width: 600px) {
    .login-card {
      margin: 20px;
    }
  }