/* src/app/features/auth/pages/login/login.component.scss */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #426B97;
  }
  
  .login-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
    mat-card-title {
      font-size: 1.8em;
      font-weight: 600;
    }
    mat-card-subtitle {
      color: #666;
    }
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .full-width {
    width: 100%;
  }
  
  .login-button {
    margin-top: 20px;
    height: 48px;
    font-size: 1.1em;
    background-color: #426B97; 
  }
  
  .login-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  ngx-password-strength-meter {
    width: 100%;
    margin-top: -10px; /* Ajuste o espaçamento para ficar mais próximo do input */
    margin-bottom: 10px;
  }
  
  @media (max-width: 600px) {
    .login-card {
      margin: 20px;
    }
  }